#login-page {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
}

#login-page .login-page-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-page .logo-container{  
  width: 100vw;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-primary) url('../../assets/images/background-mobile.svg') no-repeat;
  background-size: 30rem;
  background-position: center;

}
#login-page .logo-container div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#login-page .logo-container img{
  height: 8rem;
}

#login-page .logo-container h1{
  width: 20rem;
  font-size: 2rem;
  color: var(--color-text-in-primary);
}

#login-page .form-container{
  width: 100vw;
  height: 60%;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-page .login-page-content form{  
  display: flex;
  flex-direction: column;
}

#login-page .login-page-content form legend{
display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#login-page .login-page-content form legend h2{
  font-size: 2.4rem;
  color: var(--color-text-title);
}

#login-page .login-page-content form legend a{
  font-size: 1.2rem;
  color: var(--color-primary);
  text-decoration: none;
  transition: filter 2s;
}

#login-page .login-page-content form legend a:hover{
  filter: brightness(70%)
}

#login-page .login-page-content form fieldset{
  display: flex;
  flex-direction: column;
}

#login-page .login-page-content form fieldset div{
  position: relative;
}

#login-page .login-page-content form fieldset div img{
  position: absolute;
  right: 2rem;
  top: calc(100% - 2.8em);
  cursor: pointer;
  transition: filter 0.2s;
}

#login-page .login-page-content form fieldset div img:hover{
  filter: brightness(70%);
}

#login-page .login-page-content form fieldset label{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  color: var(--color-text-complement);
  transform: translate(2rem, 2.2rem);
  transition: transform .2s;
}

#login-page .login-page-content form fieldset input{
  padding: 3rem 2rem 1rem 2rem;  
  border: solid 1px var(--color-line-in-white);
  background: var(--color-input-background);
  position: relative;
}

#login-page .login-page-content form fieldset input.first-input{
  border-radius: 0.8rem 0.8rem 0 0;
}
#login-page .login-page-content form fieldset input.last-input{
  border-radius: 0 0 0.8rem 0.8rem;
}

#login-page .login-page-content form fieldset div:focus-within::after {
  position: absolute;
  content: '';
  height: calc(100% - 2rem);
  width: 0.3rem;
  border-radius: 0.8rem;
  background: var(--color-primary);
  top: calc(100% - 5.5rem);
  left: 0;
}

#login-page .login-page-content form fieldset input:focus + label{
  transform: translate(2rem, 0.9rem);
  font-size: 1.2rem;
}

#login-page .login-page-content form fieldset input:hover + label{
  filter: brightness(70%);
}

#login-page .login-page-content form .save-password{
  display: flex;
  align-items: center;  
  margin: 2rem 0;
}

#login-page .login-page-content form .save-password label{
  font-size: 1.2rem;
  color: var(--color-text-complement);
}

#login-page .login-page-content form .save-password a{
  margin-left: auto;
  font-size: 1.2rem;
  color: var(--color-text-complement);
  text-decoration: none;
  transition: filter 0.2s;  
}

#login-page .login-page-content form .save-password a:hover{
  filter: brightness(70%);
}

#login-page .login-page-content form .save-password .checkbox{
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  -moz-user-select: none;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

#login-page .login-page-content form .save-password .checkbox input{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

#login-page .login-page-content form .save-password .checkbox input:checked ~ span{
  background: var(--color-secundary);
}

#login-page .login-page-content form .save-password span:after{
  content: '';
  position: absolute;
  display: none;
}

#login-page .login-page-content form .save-password input:checked ~ span:after{
  display: block;
  left: 0.7rem;
  top: 0.3rem;
  width: 5px;
  height: 10px;
  border: solid var(--color-background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#login-page .login-page-content form .save-password .checkbox span{
  position: absolute;
  top: 0rem;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color-input-background);
  border: solid 1px var(--color-line-in-white);
  border-radius: 0.8rem;
  transition: background 0.2s;
}

#login-page .login-page-content form button[type="submit"]{
  width: 100%;
  background: var(--color-secundary);
  color: var(--color-title-in-primary);
  font-weight: 700;
  padding: 1.5rem;
  border-radius: 0.8rem;
  transition: background 0.2s;
}

#login-page .login-page-content form button[type="submit"]:hover{
  background: var(--color-secundary-dark);

}

#login-page .login-page-content form button.button-disabled{
  background: var(--color-button-disabled);
  color: var(--color-text-complement);
  pointer-events: none;
}

.signup{
  display: none;
  margin: 10rem 0;
  align-items: flex-start;
  justify-content: space-between;
}

.signup-action{
  width: 20rem;
  font-size: 1.6rem;
  color: var(--color-text-base)
}

.signup-action a{
  font-weight: 700;
  text-decoration: none;
  color: var(--color-primary)
}

.itsfree{
  font-size: 1.4rem;
  color: var(--color-text-complement)
}








@media(min-width: 960px){
  #login-page .login-page-content{
    flex-direction: row;
  }

  #login-page .logo-container{  
    width: 50%;
    height: 100vh;
    background: var(--color-primary) url('../../assets/images/background.svg');      
    background-position: center 10rem;
    background-repeat: no-repeat;
  }  

  #login-page .form-container{
    width: 50%;
    height: 100vh;
  }

  #login-page .login-page .login-page-content form{
    margin: auto;
    padding-top: 4rem;
  }

  #login-page .login-page .login-page-content form legend a{
    display: none;
  }

  #login-page .signup{
    display: flex;
  }

}